<%- include('../partials/header.ejs') %>
  <section class="categories-index">
    <h1>
      <%= title %>
    </h1>
    <% categories.forEach(c=> {%>
      <div class="categories-listed">
        <a class="no-underline" href="/categories/<%=c._id%>">
        <p class="black-text">
          <%= c.title %>
        </p>
        <% let count=0%>
        <% listings.forEach(listing=> { %>
          <% if (c?._id.equals(listing.category)){ count++ } %>
          <%})%>
          <p <% if(count > 0){ %>  class="categories-number" <% } else { %> class="categories-number gray" <% } %>>
              <%=count%>
            
          </p>
             
        </a>
      </div>
      
      
      <%})%>
  </section>

  <%- include('../partials/footer.ejs') %>