<%- include('../partials/header.ejs') %>
  <section class="categories-index">
    <h1>
      <%= title %>
    </h1>
    <% categories.forEach(c=> {%>
      <div class="categories-listed">
        <p class="black-text">
          <%= c.title %>
        </p>
        <% let count=0%>
        <% listings.forEach(listing=> { %>
          <% if (c?._id.equals(listing.category)){ count++ } %>
          <%})%>
          <p>
            <a href="/categories/<%=c._id%>">
              <%=count%>
            </a>
          </p>
                    
      </div>
      
      <%})%>
  </section>

  <%- include('../partials/footer.ejs') %>