<%- include('../partials/header.ejs') %>
  <section class="categories-index">
    <h1>
      <%= title %>
    </h1>
    <% categories.forEach(c=> {%>
      <div class="categories-listed">
        <a class="categories-link" href="/categories/<%=c._id%>">
        <p class="black-text">
          <%= c.title %>
        </p>
        <% let count=0%>
        <% listings.forEach(listing=> { %>
          <% if (c?._id.equals(listing.category)){ count++ } %>
          <%})%>
          <p class="categories-number">
              <%=count%>
            
          </p>
             
        </a>
      </div>
      
      
      <%})%>
  </section>

  <%- include('../partials/footer.ejs') %>