<%- include('../partials/header') %>
  <section class="cat-listing">
    <h1>
      <%=title%>
    </h1>
      <div class="new-category-inputs">
        <h3>Current Catagories</h3>
        <div class="new-category-check">
      <% if (categories.length){%>
          <% categories.forEach(c=>{%>
            <p class="new-category-list">
              <%=c.title%>
            </p>
            <%})%>
        <%}%>
      </div>

    <form action="/categories" method="POST">
      <label class="new-category-title">New Category Title: <input type="text" name="title" required /> </label>
      </div>
      <div class="new-category-submit">
        <button type="submit">Add Category</button>
      </div>
    </form>
    <p>
      <%= errorMsg %>
    </p>
  </section>

  <%- include('../partials/footer') %>