<%- include('../partials/header.ejs') %>
    <div class="category-show-h1">
        <h1>
            <%=category.title%>
        </h1>
    </div>
    <section class="category-show-listings">
        <% if (listings.length === 0){ %>
            <h2 class="no-listings">No listings yet.</h2>
            <% } else { %>
                <% for (let list of listings){ %>
                    <section class="category-show-list">

                        <div class="category-show-title-price-cat">
                            <div class="category-show-title-price">
                                <h2 class="category-show-title">
                                    <%= list.title%>
                                </h2>
                                <h2>
                                    $<%= list.price%>
                                </h2>
                            </div>
                        </div>


                        <div class="category-show-post-info">
                            <p class="category-show-link">
                                <a href="/listings/<%=list._id%>">More Info</a>
                            </p>
                            <p class="category-show-date">Posted:<br />
                                <% const
                                    month=["January","February","March","April","May","June","July","August","September","October","November","December"];
                                    %>
                                    <%= month[list.listingDate.getMonth()] %>
                                        <%= list.listingDate.getDate() %>,
                                            <%= list.listingDate.getFullYear() %>
                            </p>
                    </section>
                    <% }%>
                        <% } %>
    </section>

    <%- include('../partials/footer.ejs') %>